[2021-03-29 20:10] #1070 closed, assigned to dai-chen

[2021-03-29 20:11] dai-chen commented on #1076
The prepared statement support is already added in PR above. Thanks!

[2021-03-29 20:13] chloe-zh commented on #1081
Sorry I missed your info saying that the new engine is enabled already. Is the query the exact one that you are using? Could you provide some sample data so that we can try to reproduce and locate the issue from our side?

[2021-03-29 20:16] dai-chen commented on #1081
@alexferl @chloe-zh It seems fallback will happen if cursor is enabled: https://github.com/opendistro-for-elasticsearch/sql/blob/develop/legacy/src/main/java/com/amazon/opendistroforelasticsearch/sql/legacy/plugin/RestSqlAction.java#L151

I think this check was added because once cursor enabled, a request is treated as cursor request even if no `fetch_size` field.  Trying to figure out if we can m

[2021-03-29 20:23] dai-chen commented on #1072
Closing. No plan to support this in near future. Please let us know your use case. Thanks!

[2021-03-29 20:23] #1072 closed, assigned to nobody

[2021-03-29 20:25] dai-chen commented on #1071
@lengrongfu Sorry for the delay! Could you share your test data (index mapping and several docs)?

[2021-03-29 20:27] dai-chen commented on #1069
Found "The SQL plugin must be installed in order to use this driver" in your logs. This seems related to https://github.com/opendistro-for-elasticsearch/sql/issues/1078

[2021-03-29 23:27] dai-chen commented on #1078
Similarly, ODBC driver 1.12 is unable to connect to ODFE 1.13 cluster due to same naming issue.

[2021-03-29 23:29] dai-chen commented on #1078
If more naming changes in future, we need to evaluate if this check is necessary or can be done in other ways (fuzzy match plugin name, get plugin version by our own endpoint, or send `SELECT 1` query etc)

[2021-03-30 12:24] lengrongfu commented on #1071
Thanks ！！！
I have solved it, extract the nested type field as an object, and then it can be sorted by the score when searching.

[2021-03-30 12:24] #1071 closed, assigned to nobody

[2021-04-02 03:05] cliu3000 commented on #530
Hi @dai-chen , we found that the group by key is still missing in v1.13.0.0 while using jdbc or csv format. The problem is as same as yangjiajun2014 issued.

![image](https://user-images.githubusercontent.com/39771819/113375865-f8051600-93a2-11eb-8f6a-f31b46ded0ef.png)
![image](https://user-images.githubusercontent.com/39771819/113375930-1bc85c00-93a3-11eb-99a4-ce681a33b8a9.png)
![image](https://u

[2021-04-02 21:15] squatbetty commented on #616
Any chance this will be added?

[2021-04-02 23:46] dai-chen commented on #530
@cliu3000 Apologize that I misunderstood this issue. It seems there is no way to SELECT key for histogram aggregation. The only workaround is to use JSON format and get original DSL response. Will add this support later. Thanks!

[2021-04-02 23:53] dai-chen commented on #616
@squatbetty Sorry for the late response! As I understand, when auto-commit disabled, that means all queries followed need to be executed in a transaction. This is not supported in Elasticsearch. The throwing exception code in our JDBC driver can be replaced by doing nothing, though I'm not sure what's the impact on your application.

If you want, you can try it out and build a new JDBC jar file to

[2021-04-04 18:52] CuriousQA opened #1085 "Help - Request to unblock the issue when generating windows ODBC.msi installable file for 1.11.0"
Due to existing sql plugin issue in 1.13.0, I want to install 1.11.0 ODBC .msi in my Windows 10 system. I have downloaded the source code 1.11.0 to generate the ODBC using the instructions in the BUILD. I installed JAVA 12, Visio 2019 and Cmake as part of this. After working on to create a new project in Visio studio 2019, I navigated to Tools --> Command Line --> Developer PowerShell.  I set the

[2021-04-07 08:11] chloe-zh commented on #1085
Thanks for reporting this issue, will investigate

[2021-04-08 15:02] CuriousQA commented on #1085
Thank you @chloe-zh

[2021-04-09 03:10] chyun opened #1087 "How can I write a timestamp literal in sql"
When I write a sql something like following:
[code]
I got an error:
[code]

But I can use it in select clause. I tried following sql which can get expected answer.
[code]

And then I tried more sql make me total confused.
[code]
Got an error:
[code]
This make sense because type did not match. But when I change to another field it worked.

[code]
work successfully.
Now I feel like I can not write a

[2021-04-09 03:14] chyun commented on #1087
Some data samples.
[code]

[2021-04-09 04:27] chloe-zh commented on #1087
Hi @chyun , to cast a literal to specific temporal type, you can try out the date and time functions `timestamp`, `date`, `time` etc, for example the query you provided can be looking like:
`select sum(field1)/sum(field2) as contribution from index_* where log_timestamp > timestamp('2021-04-01 00:00:00')`.

The cast function works only in select field as of now in our engine, so when you use it in

[2021-04-09 04:42] chloe-zh commented on #1085
Hi @CuriousQA , a quick question, to my understanding your request is actually to get the odbc 1.11 windows installer, is that correct? Actually we have the installers available for download directly, you can also build it from source but you don't have to. Here are the links for x64 and x86 installers:
32 bit: https://d3g5vo6xdbdb9a.cloudfront.net/downloads/elasticsearch-clients/opendistro-sql-od

[2021-04-09 12:23] chyun commented on #1087
Will you consider implement timestamp literal?
The reason I did not use timestamp function because I tried and I got an error.
I input the following sql:
[code]
And I got error:
[code]

I use the explain API to translate the sql to ElasticSearch DSL.
[code]
The sql engine parse the condition into a script. I think this will make ElasticSearch can not use index(I guess).

[2021-04-11 04:02] CuriousQA commented on #1085
Thanks @chloe-zh  for sharing the link to download the installers. This is what I was actually looking for. Somehow, I was unaware of any links to download the older versions. I'll close the issue.

[2021-04-11 04:02] #1085 closed, assigned to nobody

[2021-04-11 04:16] CuriousQA commented on #1013
I have the similar problem for the # of records exceeding 10000. In my case, the Elastic search holds the details of the transaction timestamp and the service that a customer makes. As there are many customers and the data is available from 2017, the transaction numbers are higher. So can you please suggest a way to query all the records in that index. Basically on a high level to get the total nu

[2021-04-11 04:19] CuriousQA opened #1088 "ODBC driver to retrieve the aggregate records beyond 200"
Referencing to https://github.com/opendistro-for-elasticsearch/sql/issues/1013

My Elastic search instance holds the details of the transaction timestamp and the service that a customer makes. As there are many customers and the data is available from 2017, the transaction numbers are way higher than 10k. So can you please suggest a way to query aggregate of all the records in that index. Basicall

[2021-04-15 17:40] dai-chen commented on #1088
Hi @CuriousQA , thanks for reporting the issue! will have a look

[2021-04-15 22:05] CuriousQA commented on #1088
Thanks @dai-chen for acknowledging this.

[2021-04-15 23:41] deric4 commented on #783
Having the same problem  as @HumanAftrAll  on Amazon Elasticsearch Service for a few days now, and it looks like it might be related to #1078  where the driver is looking for `opendistro-sql` but the cluster has `opendistro_sql`.

It doesn't seem possible to check the version of the plugin being used on the cluster:

[code]

I was hoping to try downgrading the ODBC driver version to `1.12.x` to se

[2021-04-20 18:40] chloe-zh opened #1091 "ODBC build failed due to incompatibility with latest release version of aws-sdk-cpp"
Similar errors regarding aws sdk come up in the build logs. Need to investigate the root cause and adapt our build workflows with new releases of aws sdk cpp.

[code]

[code]

[code]

[2021-04-20 19:47] abelykh0 commented on #1088
Additional information: 200 is a default limit, maximum limit is 9999. Still, JDBC should do the needed paging if required.

[2021-04-21 02:01] chyun commented on #1080
@dai-chen the merge is still not accepted?

[2021-04-21 03:03] chyun opened #1093 "PPL stats did not support percentile function"
PPL stats did not support percentile function?

[2021-04-21 07:24] cliu3000 opened #1095 "Error occurs while select from multiple indices with timestamp field in condition"
sample data:

[code]

Select from two indices, in jdbc format:
[code]

Response:
[code]

[2021-04-21 07:43] chloe-zh commented on #1095
Thanks for reporting this issue. It looks like the syntax is not following the sql standards to select directly from two tables. The JOIN/UNION queries can achieve this function instead, you can find some reference in our repo: https://github.com/opendistro-for-elasticsearch/sql/blob/develop/docs/user/dql/complex.rst

[2021-04-21 07:44] cliu3000 opened #1096 "Error occurs while using json format and select with timestamp field in condition"
sample data:
[code]

Select:
[code]

Response:
[code]

[2021-04-21 07:47] chloe-zh commented on #1096
Hi @cliu3000 thanks for reaching out to us. Will investigate it, could you provide the version information of the sql plugin or odfe? And did you enable the new engine?

[2021-04-21 07:50] cliu3000 commented on #1096
Hi @chloe-zh , thanks for reply, the version of the plugin is v1.13.0.0

[2021-04-21 07:51] chloe-zh commented on #1093
Hi @chyun we don't support percentile aggregate in ppl yet. Will investigate it and decide on if we will have workaround to support it recently. Thanks!

[2021-04-21 09:26] cliu3000 commented on #1095
Hi @chloe-zh , thanks for reply. I've tried UNION but still have some problems.

1.  We have one or several indices each day, so we want to find the sql syntax which is equivelent to [elasticsearch "`/index1,index2,index3/_search`" API](https://www.elastic.co/guide/en/elasticsearch/reference/current/search-search.html) . Not only just select, but also do some aggregations across them. In most case

[2021-04-21 18:43] dai-chen commented on #1080
Need one more approval. @penghuo could you take a look? https://github.com/opendistro-for-elasticsearch/sql/pull/1083

Btw, we're migrating to the new repo: https://github.com/opensearch-project/sql. I will resend this PR and patch this changes.

[2021-04-25 16:38] #1087 closed, assigned to nobody

[2021-04-28 07:27] STTianXiang opened #1098 "Kibana cannot display the response data when "opendistro.sql.query.response.format" is set json"
Hi，
environment：
server opendistro 1.13.2

opendistro Sql settings：

PUT /_opendistro/_sql/settings
{
  "transient" : {
    "opendistro.sql.enabled" : "true",
    "opendistro.sql.query.response.format":"json",
    "opendistro.sql.cursor.enabled": "true",
    "opendistro.sql.cursor.fetch_size" : "5000",
    "opendistro.sql.cursor.keep_alive" : "5m",
    "opendistro.sql.engine.new.enabled": "true",

[2021-04-28 09:17] marcopyre opened #1111 "class cast error on multi query"
Hi, i'm new on opendistro and i got an issue on a request who should be valid, i tested this one on sqlite and it was working but it's showing me this error on opendistro:
![Screenshot from 2021-04-28 10-56-38](https://user-images.githubusercontent.com/74605395/116377797-d7997180-a811-11eb-8dfb-5d0a8e1e18be.png)

there is my request:
![Screenshot from 2021-04-28 10-56-13](https://user-images.githu

[2021-04-29 05:53] chloe-zh commented on #1098
Hi @STTianXiang  thank you for reporting this issue! The workbench is generating the result table from the JDBC formatted result set from the SQL plugin, that explains why it does not work with your current config since the response format has been set to Json rather than JDBC. That should be working if you update the config of response format to "jdbc". Please let us know if any further question

[2021-04-29 06:53] STTianXiang commented on #1098
Hi chole-zh thank you for answer.
I have modified the current configuration（jdbc）, but I may use json format in other places, so this is not universal, I hope that it will be compatible with other format response in the future.

[2021-04-30 18:02] CuriousQA commented on #1088
@dai-chen , I updated the query from JDBC to ODBC. Can you please share your comments on this to retrieve the aggregate results for records beyond 200.

[2021-05-04 08:11] marcopyre opened #1108 "class cast error on multi query"
Hi, i'm new on opendistro and i got an issue on a request who should be valid, i tested this one on sqlite and it was working but it's showing me this error on opendistro:
![Screenshot from 2021-04-28 10-56-38](https://user-images.githubusercontent.com/74605395/116377797-d7997180-a811-11eb-8dfb-5d0a8e1e18be.png)

there is my request:
![Screenshot from 2021-04-28 10-56-13](https://user-images.githu

[2021-05-04 08:32] jerome73 opened #1109 "Can't compute sql sub-queries"
Hello,

I would like to compute percent metrics using the _sql api.
To do so I run this type of query:

[code]

FYI this type of query runs well against db like sqlite.
Is this supported by opendistro sql plugin ?

[2021-05-05 05:47] FreCap opened #1110 "Why nested has a limit of 3?"
Search for ` "size" : 3,` in the text below.

Why this limit? It appears returning only three result top.

I tried to look in code but I couldn't find where it is defined.
Can anyone point it to me?

SQL query:
[code]
Explain:

[code]

[2021-05-13 18:21] dai-chen commented on #1109
Hi @jerome73 , thanks for reporting the issue! Unfortunately, this is not supported yet. For now only subqueries in FROM and WHERE can be supported. Please check out our doc: https://github.com/opendistro-for-elasticsearch/sql/blob/develop/docs/user/dql/complex.rst#subquery

[2021-05-13 18:22] dai-chen commented on #1108
Duplicate as https://github.com/opendistro-for-elasticsearch/sql/issues/1111

[2021-05-13 18:22] #1108 closed, assigned to nobody

[2021-05-13 18:23] dai-chen commented on #1111
Hi @marcopyre , thanks for reporting the issue! JOIN between is not supported yet. Will try to add this in future.

[2021-05-13 18:38] dai-chen commented on #1110
Thanks for reporting the issue! Will investigate.

[2021-05-13 18:41] dai-chen commented on #1098
Hi @STTianXiang , you can make default format JDBC so Workbench can work. When you need JSON response, you can pass HTTP param `format=json` with your query. Thanks!

[2021-05-13 18:49] #1091 closed, assigned to chloe-zh

[2021-05-13 19:03] dai-chen commented on #1069
Duplicate and will track in issue 1078.

[2021-05-13 19:03] #1069 closed, assigned to nobody

[2021-05-13 19:13] dai-chen commented on #1000
Closing as no response. Feel free to reopen if the suggestion above doesn't work. Thanks!

[2021-05-13 19:13] #1000 closed

[2021-05-13 19:15] #935 closed

[2021-05-13 19:22] #803 closed

[2021-05-13 19:31] dai-chen commented on #972
https://aws.amazon.com/about-aws/whats-new/2021/04/amazon-elasticsearch-service-now-supports-integration-with-microsoft-power-bi/

[2021-05-13 19:31] #972 closed

[2021-05-13 20:34] dai-chen commented on #1003
Track in 1008 and will create issue in new OpenSearch repo soon.

[2021-05-13 20:34] #1003 closed

[2021-05-13 20:41] #1060 closed

[2021-05-13 20:43] #150 closed

[2021-05-17 17:55] dai-chen commented on #1080
@chyun Sorry for the delay! My PR for long literal support is already merged. Will patch it in OpenSearch later. Thanks!

[2021-05-17 17:55] #1080 closed, assigned to dai-chen

[2021-05-21 22:27] penghuo commented on #1110
[size:3 is the default setting](https://www.elastic.co/guide/en/elasticsearch/reference/6.8/search-request-inner-hits.html) of inner_hits builder.

https://github.com/opendistro-for-elasticsearch/sql/blob/develop/legacy/src/main/java/com/amazon/opendistroforelasticsearch/sql/legacy/rewriter/nestedfield/NestedFieldProjection.java#L143

[2021-05-22 00:31] FreCap commented on #1110
Thank you for the poitner!
Is there any reason why we should keep it that way and not a large number?
It's completely opaque from the user perspective

[2021-05-22 03:00] #1078 closed, assigned to chloe-zh

[2021-05-23 06:44] #783 closed

[2021-05-24 18:00] FreCap commented on #1110
@penghuo would you have any suggestion/internal agreement on changing the default value or how to make this parametric?

Any preference in making this parametric between:
1) static config in yml
2) REST "opendistro.sql.engine.nested.limit": 100
3) nested(myNested, myNested.field =123, 100)
4) nested(myNested, myNested.field =123, limit=100)

[2021-05-24 18:18] #981 closed

[2021-05-25 20:41] josephteddick opened #1115 "SQL Cursor Enabling breaks queries"
Hi everyone. I am trying to make use of cursor for the opendistro SQL plugin. First, as an example--without enabling it, the follow curl command runs perfectly fine:

curl --user 'username':'password' -H 'Content-Type: application/json' -X POST "request_url" -d '{

  "query" : "select * from  `index-name.2021-05-19`"
}'

But, as expected, if I try sending in a parameter used in cursor:

curl --use

[2021-05-25 20:51] abbashus commented on #1115
What ODFE version you are using?
Are you using this plugin with Elasticsearch distribution or ODFE distribution ? What version of either of them?

Lets us try to reproduce this from our end.

[2021-05-26 13:04] josephteddick commented on #1115
@abbashus

I'm using ODFE distribution version 1.13.0 and the Elastic version with this is 7.10.2

[2021-05-27 17:10] penghuo commented on #1110
REST "opendistro.sql.engine.nested.limit": 100 with default = 10 more make sense to me.

[2021-06-01 22:39] FreCap commented on #87
I tried the query above is generating the **right** result but it is using the legacy engine.
Is this thread specific to the new engine?

Fallback message:
[code]

[2021-06-10 08:51] nnk-maker opened #1117 "SQLSTATE[IM004] SQLDriverConnect: 0 [Microsoft][ODBC Driver Manager] Driver's SQLAllocHandle on SQL_HANDLE_ENV failed"
Hi, I am trying to communicate the IBM DB2 to create and store data using the odbc in my local host.
But I am facing this error in my browser.
Can some one please look over this.
Used Tools:
Laravel Php

SQLSTATE[IM004] SQLDriverConnect: 0 [Microsoft][ODBC Driver Manager] Driver's SQLAllocHandle on SQL_HANDLE_ENV failed.

I run with

Xdebug: [Step Debug] Time-out connecting to debugging client, wa

[2021-06-11 21:56] #1081 closed, assigned to nobody

[2021-06-14 14:35] CuriousQA commented on #1088
@dai-chen , Can you please provide any update on this. TIA.

[2021-06-15 19:13] chloe-zh opened #1121 "ODBC Patch Release v1.13.0.2"

[2021-06-15 22:40] chloe-zh commented on #1121
- [x] Create opendistro-1.13.0.2 branch and bump version #1120
- [x] Manually sign artifacts
  - [x] Mac
  - [x] Windows 32 bit
  - [x] Windows 64 bit
- [x] Sanity test
- [x] Publish
  - [x] Create issue and assign to infra team
  - [x] Replace artifacts (task owner: infra team)
- [x] Confirmation from our side

[2021-06-28 08:18] juergen-walter opened #1122 "odfesql cannot cope with dots in index names"
odfesql cannot cope with dots in index names. Example query
[code]
results in the following
[code]

I verified that I get no error if the index has no dots. From my point of view, that is a bug. Maybe I miss something ...

[2021-06-28 08:21] juergen-walter commented on #1122
The index name used above is a long time standard for logstash: https://www.elastic.co/guide/en/logstash/current/plugins-outputs-elasticsearch.html#plugins-outputs-elasticsearch-index

[2021-06-28 10:59] yinchuanwang opened #1123 "PPL does not support date_histogram function?"
In elastic search, aggregation by date_histogram([date histogram aggregation](https://www.elastic.co/guide/en/elasticsearch/reference/7.13/search-aggregations-bucket-datehistogram-aggregation.html)) is very useful especially for time-series data analysis.  PPL does not support it?

[2021-06-29 05:06] bhapin opened #1124 "Query with multiple indices, fall back to old SQL engine"
Version 1.13.2.0

Executing the following query is falling back to old SQL engine.

SELECT ifnull(field1,'null') AS Type, ifnull(field2,'null') AS Id, COUNT(*) AS cnt FROM index-2021-06-29-00,index-2021-06-29-01,index-2021-06-29-02,index-2021-06-29-03 WHERE field3 = 'value1' AND field4 = 'value2' GROUP BY Id,Type ORDER BY cnt DESC LIMIT 5000

Above query contains the GROUP BY on multiple columns.

[2021-07-07 12:18] Nikamura opened #1125 "SQL builds query incorrectly, trying to query non existent field"
I have a query:
[code]

With mapping:
[code]

But when i run the query it doesn't find anything and _explain shows that it's trying to query `url.keyword` which does not exist

[code]

[2021-07-08 05:05] Arpitha387 commented on #783
Hi All,

I have downloaded  ODFC SQL driver to 1.7 and ES is 7.11.0 version .
Still am getting error while connecting i through DSN
![image](https://user-images.githubusercontent.com/87110280/124865370-2749a580-dfd8-11eb-837c-7ab5a8d1a7f3.png)

Please help me to fix this issue.

[2021-07-08 05:08] Arpitha387 opened #1126 "Errors connecting ODBC connection"
Hi All,

I have downloaded ODBC sql driver 1.13 and Elastic Search version is 7.11.0
Still am getting error like failed to connection DB
![image](https://user-images.githubusercontent.com/87110280/124865563-83142e80-dfd8-11eb-9bfa-b91eaf40994e.png)

Please help to fix this issue

[2021-07-08 16:07] FreCap commented on #1125
What do you mean by "url.keyword" doesn't exist?

usually `.keyword` is appended to the field name when running a search because it is the object containing the actual data you want to search

[2021-07-08 16:09] FreCap commented on #1124
Hi @bhapin , if it falls back it means that currently there is something in your query that is not supported by the new engine.
In the logs, you will find a more detailed explanation of why it failed.

As per "if it will be implemented in the future", I hope so! :D

[2021-07-08 16:10] Nikamura commented on #1125
@FreCap we have our own mapping for index and we don't analyze url field and we  dont create .keyword type separetly.

in your case mapping would look like something like:
[code]

we have

[code]

but if you look at our mapping our `url` field has `keyword` type already and it doesn't have `.keyword` field separetly. which results in opendistro generating incorrect query.

[2021-07-09 19:41] lyndonbauto opened #1129 "SQL-ODBC driver can crash intermittently in multi-connection environments"
The code in ESCommunication is not safe in a multi connection environment. It is not supposed to call InitAPI and ShutdownAPI multiple times and should not be calling them concurrently in random orders as can happen in multiconnection environment.

When this is done this can cause crashes on the client (segmentation faults). Problematic code is below:
[code]

[2021-07-14 07:32] chloe-zh commented on #1126
Hi @Arpitha387 the odbc driver should work along with ODFE which the SQL plugin is integrated into. You can also install the SQL plugin to your elasticsearch os version (no later than 7.10.2) that matches with our released plugin version, then the odbc should also work well. You can match the version here: https://opendistro.github.io/for-elasticsearch-docs/version-history/

[2021-07-14 07:42] chloe-zh commented on #1123
Hi @yinchuanwang thanks for your request, we do have plans to support time series aggregations like data histogram, but we don't have an ETA yet. Will keep this thread updated. Thanks!

[2021-07-14 07:43] chloe-zh commented on #1123
@yinchuanwang Our project has been moved to https://github.com/opensearch-project/sql , transferring this issue to new repository.

[2021-07-14 07:54] chloe-zh commented on #1122
Hi @juergen-walter thanks for reporting this issue, to run query in the plugin with the index that has special characters like dots, spaces etc. , you can quote the index name with backticks, for example:
[code]
And this should be working well.

Btw, our project has been fully migrated to the new repository https://github.com/opensearch-project/sql, feel free to create issues in our new repo so we

[2021-07-14 07:54] #1121 closed, assigned to chloe-zh

[2021-07-14 07:57] chloe-zh commented on #1117
Hi @nnk-maker thanks for reporting the issue. But this odbc driver can only work with the ODFE that the SQL plugin has installed in, or the elasticsearch (<= v7.9.1) with our SQL plugin installed. I'm afraid it is not compatible with the IBM DB2 you are currently using.

[2021-07-14 08:30] juergen-walter commented on #1122
@chloe-zh thank you very much for your reply. I just learned that this is an SQL standard. Cool, that version 1.0 of OpenSearch is out, I already followed the news!

I looked into odfesql based on the following documentation:
https://opendistro.github.io/for-elasticsearch-docs/docs/sql/cli/
especially this gif
https://opendistro.github.io/for-elasticsearch-docs/docs/images/cli.gif
--> you might wa

[2021-07-14 08:30] #1122 closed, assigned to nobody

[2021-07-21 20:10] sanketrs commented on #1013
Hi,
I resolved this issue with following command that you will have to execute on Dev Tools of Kibana

**1. This will update the maximum number of records that your can retrieve from your elastic index.**
Here for example, I have set up limit to 2,50,000
[code]

**2. This will update the number of records you can retrieve with a SELECT sql query on an elastic index**
Here for example, I have set u

[2021-07-21 20:11] sanketrs commented on #1088
Hi,
I resolved this issue with following command that you will have to execute on Dev Tools of Kibana

**1. This will update the maximum number of records that your can retrieve from your elastic index.**
Here for example, I have set up limit to 2,50,000
[code]

**2. This will update the number of records you can retrieve with a SELECT sql query on an elastic index**
Here for example, I have set u

[2021-07-21 22:13] gauravlanjekar commented on #1056
I am also facing the same issue on date ranges, currently using between instead of  > < signs to compare dates and strings.

[2021-07-22 13:19] FreCap commented on #1056
As fix you can use this branch @gauravlanjekar
https://github.com/FreCap/sql/tree/nestedLimit-comparison-datecast

You can find the build here:
https://github.com/FreCap/sql/actions/runs/1053174786

[2021-07-22 14:01] gauravlanjekar commented on #1056
@FreCap Unfortunaletly I am running opendistro with AWS ES. So I don't have the possibility to run the other branch.  :(
Do you see any problem with using `between` because that is my current workaround until a fix is available.

[2021-07-23 11:59] gauravlanjekar opened #1130 "How to cast a UTC timestamp in opendistro sql"
Hello everyone I am trying to cast date in the select clause

 `select cast('2021-07-21T00:00:00Z' as timestamp)` unfortunately this returns an error
```"reason":"Invalid Query","details":"timestamp:2021-07-21T00:00:00Z in unsupported format, please use yyyy-MM-dd HH:mm:ss[.SSSSSS]"}```

The problem is that I cannot change the input format.
Elastic support date parse https://www.elastic.co/guide/e

[2021-07-30 12:33] allenphilip93 commented on #1126
Hi @chloe-zh , I'm actually facing the same issue. If I understood it correctly, in order to connect to ES via ODBC:

- Host with the ODFE must have the SQL plugin integrated
- SQL plugin version must match with the ODFE version as shown in the link

Should the client with the ODBC driver also match the SQL plugin version? The host I'm connecting to has ES 7.9.1 and the SQL plugin (v1.11.0) is int

[2021-08-04 04:48] allenphilip93 opened #1131 "ODBC Driver 1.13.0.0 not working with ODFE SQL Plugin version < 1.13.0.0"
Hi,

I'm trying to connect PowerBI to my AWS ES cluster (ODFE v1.11.0, ES 7.9.1). I installed the ODBC driver v1.13.0 using the msi installer. From my machine I'm able to reach the server on command line but when I try to add a new ODN or connect from PowerBI it throws and error.

I did manage to find a similar [issue](https://github.com/opendistro-for-elasticsearch/sql/issues/1069). After that I

[2021-08-04 14:40] allenphilip93 commented on #1131
I was able to resolve the build error by installing the WiX toolset and the msi installer was successfully generated. But upon installing the DSN still failed with an error.
<img width="633" alt="image" src="https://user-images.githubusercontent.com/20537002/128200838-bd06f73c-0929-42aa-a2cd-a0671e5bf140.png">

I ran Process Monitor and found that some of the dependencies were missing.
<img width=

[2021-08-05 13:13] bernony opened #1132 "Connection issue quering ES using opendistro driver"
Hi all,
Thank you for this great tool you are striving to improve day after day for better experience.

Well, we started using the 1.6.0.0 opendistro driver. Few times ago, we upgraded the open distro plugin to 1.12.

We perform parallel queries against opendistro ES.

Currently, each time we perform the set of queries, at first time some/all of the queries systematically fail and  we get the foll

[2021-08-10 18:48] AathithRajendran opened #1133 "SSL connect error (code:35; schannel: next InitializeSecurityContext failed: SEC_E_INVALID_TOKEN- The token supplied to the function is invalid) when connecting from ODBC Driver"
**What I tried:**
I configured ODBC with this [link](https://www.elastic.co/guide/en/elasticsearch/reference/master/sql-odbc-setup.html).

**Error:**
when I connect from Power BI it's throwing the following error
[code]

**Versions:**
Elasticsearch Version: 6.8.3
ODBC Version: 10.0
PowerBI Version: 2.9

[2021-08-11 19:44] ankurgupta4891 opened #1134 "Data type 'Date' backward compatibility issue"
Prior 1.13 driver release `Date` type was mapped `java.sql.TimeStamp` which carries time information but using `java.sql.Date` drops time information and set values to `00:00:00.000`. This makes the driver backward incompatible.

https://github.com/opendistro-for-elasticsearch/sql/blob/7eeb805173196e81b23bd2234a1b626a7233ddae/sql-jdbc/src/main/java/com/amazon/opendistroforelasticsearch/jdbc/types/

[2021-08-18 02:19] newUserForTesting opened #1137 "Support for "fuzziness": "AUTO" in sql MATCH_QUERY"
Hello Experts,

This is urgent requirement of supporting "fuzziness": "AUTO" in sql MATCH_QUERY.
Currently the Elasticsearch query being generated corresponding to sql query doesn't have "fuzziness": "AUTO" as default option and hence we are not able to perform fuzzy queries.

Requesting to please suggest a workaround for this.

Thanks!

[2021-08-19 00:21] anirudha commented on #1137
@newUserForTesting pls review https://github.com/opensearch-project/sql/issues/182

[2021-08-24 23:05] dai-chen commented on #1134
I checked the code and the reason of mapping `Date` to `Date` after 1.13 is because our new query engine was enabled: https://github.com/opendistro-for-elasticsearch/sql/blob/opendistro-1.13.0.0-rc1/legacy/src/main/java/com/amazon/opendistroforelasticsearch/sql/legacy/plugin/SqlSettings.java#L60.

From then on, original Elasticsearch date is returned as `Timestamp` because internally Elasticsearch

[2021-08-26 11:55] newUserForTesting commented on #1137
Thank You Experts! We really appreciate your help in providing more features in new query engine.
We are using this project and we just love it!
Any tentative timeline by when fuzziness support would be available in new query engine?
Again really appreciate your prompt response on this!

[2021-08-26 20:56] chloe-zh commented on #1137
This project was started in implementation stage these days, this feature would be ready in our code base very soon, and this feature is good to use if you are fine to pull our latest artifact from the repository. The related issue is https://github.com/opensearch-project/sql/issues/184 to track the progress.

[2021-08-28 02:26] newUserForTesting commented on #1137
Our Production Clusters are running on OpenDistro version of Elasticsearch. We recently observed the new OpenSearch initiative. We can't wait to upgrade to OpenSearch version!

But since we have lots of existing Production Clusters and enormous amount of data within it, it wouldn't be happening in immediate near future.

We were thinking of following approach Experts. Please let us know if this co

[2021-08-28 03:18] newUserForTesting opened #1138 "Issues in querying nested objects"
Hello Experts,

Our Index Mapping has several nested structures and objects within it. Just to showcase the issue, please consider the following sample mapping

PUT /sample_order
{
  "mappings": {
    "properties": {
      "orderNo":{
        "type": "text"
      },
      "orderLines": {
        "type": "nested",
        "properties": {
          "item": {
            "type": "object",

[2021-09-01 08:03] bernony commented on #1132
Hi all,
No body has any idea?

Thanks in advance

Bernony

[2021-09-03 16:16] newUserForTesting commented on #1137
Could someone please assist in the above query? Really appreciate your help.

[2021-09-03 16:17] newUserForTesting commented on #1138
Could someone please assist in the above query? Appreciate the help.

[2021-09-07 11:18] ITzhangqiang opened #1139 "fetch_size parameter is invalid"
I use sql-jdbc connect elasticsearch，I set fetch_size parameter but it is still invalid。
![image](https://user-images.githubusercontent.com/56682120/132336229-5396f30e-d4cc-47b2-a2ec-79347aa458dd.png)

[2021-09-07 11:49] ITzhangqiang commented on #1139
After I set this following settings, "fetch_size" works
PUT _cluster/settings
{
  "transient": {
    "opendistro.sql.cursor.enabled": true
  }
}

[2021-09-07 11:49] #1139 closed, assigned to nobody

[2021-09-15 12:56] xiaohaifirst commented on #953
1.7.0.0不是只适配7.6.1的么，请问兄台怎么编译成7.6.2的版本呀，我改了build.gradle中的7.6.1---->7.6.2发现构建报错。

[2021-09-15 12:57] xiaohaifirst commented on #953
1.7.0.0不是只适配7.6.1的么，请问兄台怎么编译成7.6.2的版本呀，我改了build.gradle中的7.6.1---->7.6.2发现构建报错。

[2021-10-20 03:02] Jivvei opened #1140 "elasticsearch 7.x later version"
hi～，Will the later versions of elasticsearch 7.x continue to be released?

[2021-10-28 17:15] dumblob opened #1141 "PPL - live streaming"
Do you have any plans to make the input to a PPL expression "live" (and thus the result of the PPL expr also live)? I.e. continually updated in time if any data on the input shall change?

[2021-11-01 13:17] Mrliu-l opened #1142 "sql can't cope dots in object key"
sql can't cope dots in object key. Example query
(select `name.1`,age FROM indexName)，that can search name.1 value；
but (select * from indexName) can't search name.1 value

[2021-11-06 17:35] ankurgupta4891 commented on #662
I'm running into the same issue with new engine enabled. The simple subquery runs fine but adding `group by` fails with the same error as vthatiparthy reported. For example, [1] passes but [2] fails.

1.
[code]
2.
[code]

[2021-11-09 18:29] awongc opened #1143 "Error when combining Select, Order by and Group by on a String field"
Hi,

I have been trying to run a simple query using select, order by and group by on a String field but it keeps throwing error

This is what I'm running:
PUT _opendistro/_sql/settings
{
"query": "SELECT StringField AS StringField FROM Index GROUP BY StringField ORDER BY StringField"
}

And I'm getting the following error

{
"error": {
"reason": "There was internal problem at backend",
"details":

[2021-11-18 18:55] ankurgupta4891 opened #1145 "`IS NOT NULL` with alias throws SemanticCheckException"
Using `IS NOT NULL` with alias throws SemanticCheckException.

Example query:

[code]

Error:

[code]

[2021-11-18 19:22] penghuo commented on #1145
Could you try this?
[code]
dc is output symbol, only symbol defined in all_flights visible to SQL engine when analyze WHERE statement, so exception throw.

[2021-11-18 19:37] anirudha commented on #1145
@ankurgupta4891 pls create issues in this repo : https://github.com/opensearch-project/sql

[2021-11-18 20:20] ankurgupta4891 commented on #1145
@anirudha I created this issue under opensearch-project/sql repo -> https://github.com/opensearch-project/sql/issues/292

@penghuo Yes it works when I use actual symbol name. I tried to give simple version of our use case but we need to get `alias` support with `IS NOT NULL` check. Is it not possible to process output symbol to get actual symbol?

[2021-11-19 16:58] walkslowly opened #1146 "elasticsearch 6.8.17版本构建问题"
我尝试用0.10.0.0版本，在gradle脚本把es.version改为6.8.17，但是会报错。请问如何解决呢。错误如下。
`* What went wrong:
A problem occurred evaluating root project 'opendistro-sql'.

     + is required to use elasticsearch.build plugin`

[2021-11-20 02:45] walkslowly commented on #1146
我把gradle版本改成5.4.1之后构建成功了。我有个疑问就是6.8.1是支持6.8.17的吧

[2021-11-22 08:08] smallAttr opened #1147 "Whether or not support sort filter operation by sql？"
for example：

1. put data to es index：
    `PUT /my_index/blogpost/2
{
  "title": "Investment secrets",
  "body":  "What they don't tell you ...",
  "tags":  [ "shares", "equities" ],
  "comments": [
    {
      "name":    "Mary Brown",
      "comment": "Lies, lies, lies",
      "age":     42,
      "stars":   1,
      "date":    "2014-10-18"
    },
    {
      "name":    "John Smith",
      "comm

[2021-11-22 18:50] chloe-zh commented on #1146
@walkslowly 我们插件本身是只支持6.8.1的，但其实根据你自身需要，自行把版本修改成6.8.17，并且gradle的版本也修改好，build成功了那就没问题。

[2021-11-24 10:30] diego2glez commented on #686
Any updates on this issue?

I'm having same problems using selfsigned certificates over https connection.

[2021-11-24 10:42] #1140 closed, assigned to nobody

[2021-11-30 03:25] walkslowly opened #1148 "无法更改设置。"
https://github.com/opendistro-for-elasticsearch/sql/blob/main/docs/user/admin/settings.rst#opendistro-sql-cursor-enabled
当我按上述文档更改设置会失败。响应结果为400，type=“invalid_index_name_exception”。
显然它将‘_opendistro’当成一个索引了，但是我已经安装了sql插件。
我又尝试了
`
PUT _cluster/settings
{
  "transient" : {
    "opendistro.sql.enabled" : false
  }
}
`
也是报相同错误。
es版本：6.8.17
plugin版本：0.10.0

[2021-11-30 13:01] walkslowly commented on #1146
好的，谢谢。那如果有些功能0.10.0没有，我也可以更改gradle脚本升级更高的版本吗？还是说6.8.*的必须是0.10.0呢？

[2021-11-30 21:36] joshuali925 commented on #662
Will track this issue in OpenSearch repo: https://github.com/opensearch-project/sql/issues/308

[2021-12-01 17:28] spijet commented on #657
In my case I get an NPE as soon as I add any `WHERE` condition referring to the second index. The query looks like this:
[code]

The query works if I remove the `WHERE` clause or change the wildcards to full index names.

[2021-12-06 10:42] walkslowly opened #1149 "jdbc集群配置"
请问一下，jdbc支持配置集群吗，比如jdbc:elasticsearch://host1:port1,139.host2:port2/。我尝试按照这样配置，发现并不行。我去看了一下jdbc源码似乎也不支持。如果我是集群我该怎么办呢？

[2021-12-15 18:12] newUserForTesting opened #1151 "Support for _routing field in SQL queries"
Hello Experts,

We tried searching in OpenDistro Elasticsearch Documentation for support of _routing field in SQL queries but we couldn't find it.
Here is the relevant documentation for _routing field: https://www.elastic.co/guide/en/elasticsearch/reference/current/mapping-routing-field.html
Requesting to please provide support for _routing field for SQL queries. We really appreciate your help!

T

[2021-12-20 00:18] akulpillai opened #1152 "[Security] Workflow sql-odbc-main.yml is using vulnerable action actions/checkout"
The workflow sql-odbc-main.yml is referencing action actions/checkout using references v1. However this reference is missing the commit [a6747255bd19d7a757dbdda8c654a9f84db19839](https://github.com/actions/checkout/commits/a6747255bd19d7a757dbdda8c654a9f84db19839) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) CVE

[2021-12-20 00:18] TyR3x123 opened #1153 "[Security] Workflow sql-odbc-release-workflow.yml is using vulnerable action actions/checkout"
The workflow sql-odbc-release-workflow.yml is referencing action actions/checkout using references v1. However this reference is missing the commit [a6747255bd19d7a757dbdda8c654a9f84db19839](https://github.com/actions/checkout/commits/a6747255bd19d7a757dbdda8c654a9f84db19839) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related

[2021-12-20 00:18] fockboi-lgtm opened #1154 "[Security] Workflow sql-odbc-release-workflow.yml is using vulnerable action actions/checkout"
The workflow sql-odbc-release-workflow.yml is referencing action actions/checkout using references v1. However this reference is missing the commit [a6747255bd19d7a757dbdda8c654a9f84db19839](https://github.com/actions/checkout/commits/a6747255bd19d7a757dbdda8c654a9f84db19839) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related

[2021-12-20 00:18] akulpillai opened #1155 "[Security] Workflow sql-workbench-test-and-build-workflow.yml is using vulnerable action nick-invision/retry"
The workflow sql-workbench-test-and-build-workflow.yml is referencing action nick-invision/retry using references v1. However this reference is missing the commit [c36bd33fae0fdb024ee4c547dc8c34c015a06c81](https://github.com/nick-invision/retry/commits/c36bd33fae0fdb024ee4c547dc8c34c015a06c81) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version

[2022-01-02 09:05] WindedMan commented on #396
I have the same error ,plz how to solve this ? I use opendistro-1.7 branch , gradle build error !

[2022-01-03 02:48] WindedMan opened #1156 "gradle build error"
=======================================
Elasticsearch Build Hamster says Hello!
  Gradle Version        : 6.3
  OS Info               : Mac OS X 10.16 (x86_64)
  JDK Version           : 13 (OpenJDK)
  JAVA_HOME             : /Users/zxh/JDK13/jdk-13.jdk/Contents/Home
  Random Testing Seed   : AB0108D950116D8C
  In FIPS 140 mode      : false
=======================================

com.amazon.opendi

[2022-01-03 02:48] WindedMan commented on #1156
how to solve this ?plz

[2022-01-06 22:19] penghuo commented on #662
@ankurgupta4891 have u try latest OpenSearch 1.2.3. It has been fixed. https://opensearch.org/downloads.html

[code]

[2022-01-06 22:19] #662 closed

[2022-01-06 22:28] penghuo commented on #662
Currently, OpenSerach doesn't support IN operator. Which is the root cause why your query failed. Please using opensearch-project/sql#308 for tracking.

[2022-01-12 17:43] penghuo commented on #1156
Are you trying to build plugin only? If so, you could use `./gradlew plugin:build` which will build plugin without run test.
Which branch you run test against?
Have you considered use OpenSearch? OpenDistro-SQL will be on deprecation path. Instead, you could try https://github.com/opensearch-project/sql

[2022-01-13 09:54] xieyongshuai opened #1157 "Sql plugin can't support the7.16.2 version of Elasticsearch ?"
Plugin [opendistro-sql] was built for Elasticsearch version 7.10.2 but version 7.16.2 is running.

[2022-01-21 11:48] Shams-yang opened #1158 "Are there plans to support UDF?"
Hello, maintainers:
Do you have any plans to support UDF?

[2022-01-21 16:43] penghuo commented on #1158
Currently, no plan.
Any specific feature you are thinking of?

[2022-01-21 23:51] nika11 commented on #348
Do you know if this can be supported in elasticsearch 6.8? I am hitting same problem in this version.

[2022-01-24 17:23] penghuo commented on #348
@nika11 I do not think so. We didn't back-porting feature to old version.

[2022-02-15 19:47] dblock opened #1159 "ORDER BY meta fields, such as _id, is broken"
Support for meta fields is open as a feature request in https://github.com/opendistro-for-elasticsearch/sql/issues/1038, but it's actually a regression in ODFE 1.13 - ODFE 1.11.0 had at least some support for it, e.g. `ORDER BY _id`.

### Works in OpenDistro 1.11

[code]

[code]

[code]

[code]

[code]

Note that `SELECT _id` doesn't return the metadata field.

[code]

Explain works.

[code]

[cod

[2022-03-17 04:01] 66545shiwo opened #1161 "How does a timestamp convert to a date?"
I read the documents , but I couldn't find a good functions.

For example, if the timestamp value is 1641687299, I want to convert it to the format 2022-01-09 08:14:59 using some functions.

Thank you!

[2022-03-17 07:46] lazpuzzle commented on #1143
i have issue like you if you have a answer please tell me too thank you.

[2022-04-04 11:54] ira-gordin-sap opened #1163 "[Security] Is it vulnerable for CVE-2022-22965?"
We've found in whitesource scan that our opendistro sql plugin uses vulnerable spring-beans-5.2.5.RELEASE.jar:
/elasticsearch/plugins/opendistro-sql/spring-beans-5.2.5.RELEASE.jar
More details: https://spring.io/blog/2022/03/31/spring-framework-rce-early-announcement
We've not found war file in the opendistro pod, so suppose that opendistro is not impacted by CVE-2022-22965.
Could you please confi

[2022-04-05 06:23] #1163 closed, assigned to nobody

[2022-04-05 06:23] ira-gordin-sap commented on #1163
Saw https://github.com/opendistro-for-elasticsearch/sql/security/policy, so closing.

[2022-04-05 19:28] dai-chen commented on #1056
I tested with OpenSearch 1.1 which can support implicit conversion between Date and String. The following query worked for me:

[code]

I'm investigating why `'2020-02-01'` or `'2020-02-01T00:00:00Z'` returns nothing.

[2022-04-06 08:24] ITzhangqiang commented on #323
您可以帮我编译一个7.8.1的版本吗，我这边 编译 同样遇到了 各种奇奇怪怪的问题 @chloe-zh

[2022-04-06 14:35] chloe-zh commented on #323
你好，我建议可以用1.9.0.0版本（对应ES7.8）把es版本号从7.8.0改成7.8.1，兼容性应该挺好不太会有问题。我现在本地没有这个环境，可以的话你先试试吧，如果依旧有编译问题，我近期看看吧可以吗？

[2022-04-06 18:36] nagakrishna commented on #1038
OpenSearch's Query bench with SQL support is a great. For our customers (works with SQL), who queries and manipulates data, we are investigating to use open search to store data. As OpenSearch's SQL plugin doesn't supports UPDATE statement [#541](https://github.com/opensearch-project/sql/issues/541), we were checking on other potential options to leverage the same. One option is to use meta fields

[2022-04-07 08:04] ITzhangqiang commented on #323
非常感谢您的回复，我是checkout 1.13.2.0 版本，然后把es版本号改成7.8.1，报错很多。（之所以用1.13.2.0 是因为 有很多 聚合方面的新功能要使用）。这种情况有办法解决吗，可以加您微信or其他账号吗，方便及时沟通。

[2022-04-07 12:15] zhouhuping opened #1166 "how can i get GEO_POINT type values"
how can i get the lon or lat value from ResultSet when i using sql like " select * from my_index"  contains a geo_point property .     I m a rookie .

[2022-04-07 14:11] chloe-zh commented on #323
微信：chloez-

[2022-04-07 14:20] evanhalley commented on #657
I see similar behavior, except I'm querying (and JOINing) two aliased indices.

[code]

The above query returns:

[code]

Removing a WHERE clause or querying the underlying index directly resolves the issue (and returns data). Is there a fix or workaround where I can continue to query the aliased indices in this scenario?

[2022-04-08 05:17] chloe-zh commented on #323
@ITzhangqiang  https://github.com/chloe-zh/sql/tree/7.8.1-compatible

[2022-04-08 05:30] chloe-zh commented on #323
[opendistro-sql-1.13.0.1.zip](https://github.com/opendistro-for-elasticsearch/sql/files/8448819/opendistro-sql-1.13.0.1.zip)

[2022-05-06 14:31] loupipalien opened #1168 "Build fails on doctest datetime when locale is set to other"
### Description
`./gradlew build` fails on doctest datetime
- tag: v1.13.2.0
- jdk: Java HotSpot(TM) 64-Bit Server VM (build 14.0.2+12-46, mixed mode, sharing)

### Detail
[code]

[2022-05-09 08:52] dharminfadia commented on #783
**Hello guyes I am having same issue with latest version with OpenDistro and opensearch both cluster kindly help what I have to do plase suggest with excet step by step and I dont want to disable SSL for Client Connection in elasticsearch.yml or opensearch.yml  Waiting for Quick Response**

[2022-05-27 09:39] tlxfif opened #1169 "Cannot recoginze Sql identifer b.XXX"
[code]

find ERROR

`{"reason":"There was internal problem at backend","details":"Cannot recoginze Sql identifer b.XXX","type":"SqlParseException"}
`
[code]

opendistroforelasticsearch log
[code]

[2022-05-27 19:27] mmoss128 opened #1170 "JDBC Driver not fully compliant with JDBC specification (URL Parsing)"
What is the bug?
Current JDBC driver triggers a URL syntax exception for URI SyntaxException when parsing JDBC URL's which are not formatted for Open Distro for Elasticsearch. This means the driver can throw the exception any time a (valid) non-elasticsearch URL is processed. In the below example, an Oracle URL was provided on a system which had both Open Distro for Elasticsearch and Oracle JDBC d

[2022-06-01 19:44] diggerbonk commented on #657
I am seeing the same thing. OpenSearch 1.3.2.

* When using an IN subquery, where the subquery references an index alias
* When using a join with a where clause that references an index alias

[2022-06-03 21:07] ivanildobarros commented on #1133
I'm also having this problem, did you get it?

[2022-06-09 09:16] dharminfadia commented on #1056
Hello Every One

I am trying to change data type using query workbench I want to change data type date to timestamp using query for output schema in other DB but I am not able to do and opensearch having not supporting like cast kind of query any one can help it’s Urgent

query - select timestamp(datecolumn) as date from table

above query is not working plase help !!!

[2022-06-21 11:21] gauravgk78 opened #1171 "VerificationException: Different mappings are not allowed for the same field even if field is not used in query"
I'm doing a  query, but the error response I get is complaining about another field I'm not selecting.
SELECT answer AS answer FROM
  (SELECT answer
   FROM indexname) AS virtual_table

E.g.

but my query doesn't have surveyId ?Shouldn't elastic just ignore that field completely if it's not used in the select query?
https://github.com/opendistro-for-elasticsearch/sql/issues/348#issuecomment-616644

[2022-06-21 11:31] gauravgk78 commented on #348
I am stuck on same problem how did you figure out that i have also raised issue for that https://github.com/opendistro-for-elasticsearch/sql/issues/1171#issue-1278299355

[2022-07-01 09:55] SonalNew opened #1173 "ElasticSearch(7.10.3): Opendistro(1.13.2) SQL: Query failing at random times"
When executing sql query via opendistro llike:

POST /_opendistro/_sql?format=jdbc { "query":"show tables like my_index_prefix%" }

This executes successfully at certain time and fails at random intervals? What might be the issue?

On failure, it gives the below error:

[code]

[2022-07-13 10:07] aimerwhy opened #1176 "select distinct more field has no result"
the websize say support distinct :
![image](https://user-images.githubusercontent.com/32806786/178708303-96a4effd-7e69-4abd-af0c-11e1c1a6712a.png)

but this sql has no result:
String sql = "select distinct id, name, .... from table ";
jdbcTemplate.queryForList(sql)。

any advice to solve it?

[2022-07-13 10:09] aimerwhy opened #1177 "select distinct more field has no result"
the websize say support distinct :
![image](https://user-images.githubusercontent.com/32806786/178708303-96a4effd-7e69-4abd-af0c-11e1c1a6712a.png)

but this sql has no result:
String sql = "select distinct id, name, .... from table ";
jdbcTemplate.queryForList(sql)。

any advice to solve it?

[2022-07-13 10:18] #1176 closed, assigned to nobody

[2022-07-27 21:03] deepspamnani commented on #1110
Hi.. I am trying to query nested attributes in ElasticSearch using opendistro writing similar query:
POST /_opendistro/_sql
{
  "query" : """
        SELECT e.name AS employeeName,
               p.name AS projectName
        FROM employees_nested AS e,
             e.projects AS p
        WHERE p.name LIKE '%security%'
        """
}
Output should contain more than 20,000 records but its returning